#seriesTable {
    margin-left: 15%;
    margin-top: 2%;
    border: 2px solid #1794dd; 
}

#average {
    margin-left: 15%;
    color: #000080; 
}

.table th {
    background-color: #1794dd; 
    color: rgb(0, 0, 0);
}

.table td {
    background-color: #e3e3e3; 
    
}

.clickable-cell {
    color: blue;
    cursor: pointer;
}