<div class="container-12">
  <div class="row-12" style="background-color: #1794dd;">
    <h4 style="color: rgb(0, 0, 0);">TV series</h4>
  </div>
  <div class="row">
    <div class="col-5">
      <table class="table" id="seriesTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Channel</th>
            <th scope="col">Seasons</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serie of series" (click)="onSelect(serie)">
            <td><strong>{{serie.id}}</strong></td>
            <td class ="clickable-cell">{{serie.name}}</td>
            <td>{{serie.channel}}</td>
            <td>{{serie.seasons}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-5">
      <div id="serieDetalle" class="card" *ngIf="selectedSerie">
        <img class="card-img-top" src="{{selectedSerie.poster}}" alt="{{selectedSerie.name}}">
        <div class="card-body">
          <h5 class="card-title">{{selectedSerie.name}}</h5>
          <p class="card-text">{{selectedSerie.description}}</p>
          <a href="{{selectedSerie.webpage}}" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </div>
    <p id="average">Seasons average: {{averageSeasons}}</p>
  </div>
</div>
